<div class="container">
	<h3>User Administration</h3>
	<table class='table'>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Title</th>
			<th>Email</th>
			<th>Remaining Today</th>
		</tr>
		

		<% _.each(users, function(user) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<td><%= user.id %></td>
			<td><%= user.firstname %></td>
			<td><%= user.email %></td>
			<td><%= user.remaining_today %></td>
		</tr> 
		<% }) %>
	</table>
</div>